/* varela-round-regular - latin-ext_latin */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: url('@fonts/varela-round-v13-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('@fonts/varela-round-v13-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('@fonts/varela-round-v13-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('@fonts/varela-round-v13-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('@fonts/varela-round-v13-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('@fonts/varela-round-v13-latin-ext_latin-regular.svg#VarelaRound') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Nickainley-Normal';
    src:url('@fonts/Nickainley-Normal.ttf.woff') format('woff'),
    url('@fonts/Nickainley-Normal.ttf.svg#Nickainley-Normal') format('svg'),
    url('@fonts/Nickainley-Normal.ttf.eot'),
    url('@fonts/Nickainley-Normal.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
