.layout {
  padding-top: $gap;

  &--no-bezels {
    padding: 0;
  }

  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 math.div($gap, 2) $gap;
  }

  &__col {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    padding: 0 math.div($gap, 2);

    @screen md {
      @for $i from 1 through 12 {
        &-#{$i}\/12 {
          flex: 0 1 math.div($i, 12) * 100%;
        }
      }
    }
  }
}
