.intro {
  @apply h-screen relative;

  &__content {
    @apply transform-gpu text-white p-0 m-0 absolute z-50 font-serif;

    top: 140px;
    left: 40px;

    @media screen and (max-width: theme('screens.md')) and (orientation: landscape) {
      top: 120px;
      left: 40px;
    }

    @media screen and (min-width: theme('screens.md')) {
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateX(-150px) translateY(-50%) translateY(-70px);
    }

    @media screen and (min-width: theme('screens.md')) and (orientation: portrait) and (max-height: theme('screens.lg')) {
      top: 240px;
      transform: none;
      left: 50px
    }

    text-shadow: 0 0 1px #4b4b4b;
    font-size: 30px;
    line-height: 36px;

    > span {
      font-family: 'Nickainley-Normal', sans-serif;
      display: block;
      padding: 0 0 7px;
      animation: fade 1s;
    }

    @media screen and (min-width: theme('screens.md')) {
      > span {
        padding: 0 25px 0 0;
        float: left;
        font-size: 90px;
        line-height: 90px;
      }
    }

    h1 {
      @apply font-sans;
      white-space: nowrap;
      display: block;
      float: left;
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 36px;
      margin: 0;
      width: 240px;

      span {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        width: 240px;

        &:nth-child(1) {
          animation: type 1.8s steps(50, end);
        }

        &:nth-child(2) {
          animation: type2 2.8s steps(50, end);
        }

        &:nth-child(3) {
          animation: type3 4.0s steps(50, end);

          &::after {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: '|';
            animation: blink 1s infinite;
            font-weight: 200;
          }
        }

        @keyframes fade {
          0% {
            opacity: 0;
          }
          40% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }

        @keyframes type {
          0% {
            width: 0;
          }
          40% {
            width: 0;
          }
          100% {
            width: 100%;
          }
        }

        @keyframes type2 {
          0% {
            width: 0;
          }
          65% {
            width: 0;
          }
          100% {
            width: 100%;
          }
        }

        @keyframes type3 {
          0% {
            width: 0;
          }
          78% {
            width: 0;
          }
          100% {
            width: 100%;
          }
        }

        @keyframes blink {
          to {
            opacity: .0;
          }
        }
      }

      b {
        font-weight: 700;
      }
    }
  }

  &__bg {
    @apply object-cover object-top absolute inset-0 h-full w-full z-0;
  }
}
