.main-nav {
  @apply fixed inset-x-0 top-0 z-[600] p-0;
  transform: translateY(-100%);
  transition: transform 0.4s;

  &::after {
    @apply absolute top-0 inset-x-0 w-[4px] bg-navigation/40;
    content: '';
  }

  ul {
    @apply m-0 p-0 list-none bg-white;

    li {
      @apply text-center p-0 bg-navigation;
      transition: transform 0.4s;

      a {
        @apply leading-relaxed px-[8px] py-[14px] bg-white/10 uppercase block text-white;
        transition: background 0.4s;
        font-family: 'Work Sans', sans-serif;
        font-weight: 200;
        font-size: 14px;

        &:hover {
          text-decoration: none;
        }
      }

      &:nth-child(2) a {
        @apply bg-white/20;
      }

      &:nth-child(3) a {
        @apply bg-white/30;
      }

      &:nth-child(4) a {
        @apply bg-white/40;
      }

      &:nth-child(5) a {
        @apply bg-white/50;
      }

      &:nth-child(6) a {
        @apply bg-white/60;
      }

      &:hover a {
        @apply bg-white/0;
      }

      & a.router-link-active {
        @apply bg-white/80;
      }
    }
  }

  &.nav-open {
    transform: translateY(0%);
  }
}
