.nav-burger {
  @apply absolute z-[100] block right-[30px] w-[30px] h-[22px] mix-blend-difference;
  top: calc(100% + 25px);
  transition: all 0.4s;

  span {
    @apply absolute inset-0 h-[2px] bg-white;
    transition: all 0.4s;
  }

  &::after {
    @apply absolute bottom-0 left-0 right-0 h-[2px] bg-white;
    content: '';
    transition: all 0.4s;
  }

  &::before {
    @apply absolute h-[2px] right-0 left-0 bottom-[10px] bg-white;
    content: '';
    transition: all 0.4s;
  }

  &.is-dark {
    span,
    &::after,
    &::before {
      @apply bg-dark;
    }
  }

  @at-root .nav-open & {
    transform-origin: center center;
    transform: rotate(45deg);

    span {
      @apply top-[10px];
    }

    &::after {
      @apply bottom-[10px];
      transform: rotate(-90deg);
      transform-origin: center center;
    }
  }

  @at-root .nav-dark & {
    span, &::after, &::before {
      @apply bg-black;
    }
  }
}
